CREATE function [dbo].[KB_IsBenhNhanMoi](@IdDangKyKham as bigint)
returns bit
as
begin
   
  DECLARE @FISRT_IDDANGKYKHAM AS BIGINT 

  DECLARE @IDBENHNHAN  AS BIGINT
SELECT @IDBENHNHAN=IDBENHNHAN 
		FROM DANGKYKHAM WHERE IDDANGKYKHAM=@IDDANGKYKHAM

SELECT TOP 1 @FISRT_IDDANGKYKHAM=IDDANGKYKHAM 
FROM DANGKYKHAM 
WHERE IDBENHNHAN=@IDBENHNHAN
ORDER BY NGAYDANGKY

IF(@FISRT_IDDANGKYKHAM=@IdDangKyKham) RETURN 1
RETURN 0


end

