CREATE function [dbo].[KB_IsBenhNhanMoiCLS](@IdKHAMBENHCANLAMSAN as bigint)
returns bit
as
begin
   
  DECLARE @FISRT_IDKHAMBENHCANLAMSAN AS BIGINT 

  DECLARE @IDBENHNHAN  AS BIGINT
SELECT @IDBENHNHAN=IDBENHNHAN 
		FROM KHAMBENHCANLAMSAN WHERE IDKHAMBENHCANLAMSAN=@IDKHAMBENHCANLAMSAN

SELECT TOP 1 @FISRT_IDKHAMBENHCANLAMSAN=IDKHAMBENHCANLAMSAN 
FROM KHAMBENHCANLAMSAN 
WHERE IDBENHNHAN=@IDBENHNHAN AND DATHU=1 AND (DAHUY=0 OR DAHUY IS NULL)
ORDER BY NGAYTHU

IF(@FISRT_IDKHAMBENHCANLAMSAN=@IdKHAMBENHCANLAMSAN) RETURN 1
RETURN 0


end

