body {
}
#tbMainLogin 
{
	 
	 border: #6699cc 1px solid;
	 background-color: #ecf1f7;
	 
} 

#tbMainLogin TD 
{
	
	font-family: arial; 
	font-size: 10pt; 
	
} 

#tbMainLogin .header 
{
	
	background-color: #6699cc; 
	color: white; 
	font-weight: bold; 
	
} 


#tbContainer 
{
	
	margin-left: 5px; 
	margin-right: 5px; 
	margin-top: 5px; 
	margin-bottom: 5px; 
	background-color: #ecf1f7; 
	border-bottom: #6d8199 1px solid; 
	border-right: #6d8199 1px solid; 
	border-top: #808080 1px solid; 
	border-left: #808080 1px solid; 
	
} 

#tbContainer .batch 
{
	
	padding: 11px; 
	border-bottom: #6d8199 1px solid; 
	border-right: #6d8199 1px solid; 
	border-top: white 1px solid; 
	border-left: white 1px solid; 
	
}
 
#tbContainer .warning 
{
	
	color: red; 

}

#tbForm TD 
{
	
	padding-right: 15px; 
	height: 22px; 
	
}
 
.ajax
{
	
	font-family:Tahoma;
	padding-left:5px;
	font-weight:normal;
	font-size:11px;
	color:Blue;
	
}

#user .tieude
{
	
	font-family:Tahoma;
	padding-left:5px;
	font-weight:normal;
	font-size:11px;
	color:Black;

}

#user .item
{
	
	font-family:Tahoma;
	padding-left:5px;
	font-weight:normal;
	font-size:12px;
	color:Black;
	padding-right:5px;
}

#user .itemrpt
{
	
	font-family:Tahoma;
	padding-left:1px;
	font-weight:normal;
	font-size:9px;
	color:Black;
	padding-right:1px;
}
#user .item a.manv
{
	
	font-family:Tahoma;
	padding-left:5px;
	font-weight:normal;
	font-size:11px;
	color:Black;
	text-decoration:none;
	
}

#user .item a.manv:hover
{
	
	color:blue;
	text-decoration:none;
	
}

#user .item a.extendPhone
{
	
	font-family:Tahoma;
	padding-left:5px;
	font-weight:normal;
	font-size:11px;
	color:Blue;
	text-decoration:none;
	cursor:pointer;
	
}

#user input.text
{
	
	border : 1px solid #D0D0D0;
	font-family:Tahoma;
	padding-left:5px;
	font-weight:normal;
	font-size:11px;
	color:Black;

}

#user input.textover
{
	
	border : 1px solid #f60ad2;
	font-family:Tahoma;
	padding-left:5px;
	font-weight:normal;
	font-size:11px;
	color:Black;

}

#user .header
{
	
	font-family:Tahoma;
	padding-left:5px;
	font-weight:bold;
	font-size:12px;
	color:white;	
	height:20px;
	background:url(../images/header.gif) repeat-y  repeat-x ;
}

#thongtin .header
{
	
	font-family:Tahoma;
	padding-left:5px;
	font-weight:bold;
	font-size:12px;
	color:white;	
	height:20px;
	background:url(../images/header.gif) repeat-y  repeat-x ;
}

#Table1 .item
{
	
	font-family:Tahoma;
	padding-left:5px;
	font-weight:normal;
	font-size:12px;
	color:Black;
	padding-right:5px;
}

#Table1 .header
{
	
	font-family:Tahoma;
	padding-left:5px;
	font-weight:bold;
	font-size:12px;
	color:white;	
	height:20px;
	background:url(../images/header.gif) repeat-y  repeat-x ;
}

#Table2 .item
{
	
	font-family:Tahoma;
	padding-left:5px;
	font-weight:normal;
	font-size:12px;
	color:Black;
	padding-right:5px;
}

#Table2 .header
{
	
	font-family:Tahoma;
	padding-left:5px;
	font-weight:bold;
	font-size:12px;
	color:white;	
	height:20px;
	background:url(../images/header.gif) repeat-y  repeat-x ;
}

#Table3 .item
{
	
	font-family:Tahoma;
	padding-left:5px;
	font-weight:normal;
	font-size:12px;
	color:Black;
	padding-right:5px;
}

#Table3 .header
{
	
	font-family:Tahoma;
	padding-left:5px;
	font-weight:bold;
	font-size:12px;
	color:white;	
	height:20px;
	background:url(../images/header.gif) repeat-y  repeat-x ;
}

#user .containbutton
{
	padding-top:5px;
	padding-bottom:5px;
}

#user .title
{
	
	font-family:Tahoma;
	padding-left:5px;
	font-weight:bold;
	font-size:15px;
	color:#0a95f6;
	
}

table.menu td.menuLeft
{
	
	font-family :Arial;
	background-color: #006699;
	color: White;
	border-bottom: #024F76 1px solid;
	border-top: #0C87C5 1px solid;
	border-left: #0C87C5 3px solid;
	height: 25px;
	font-size: 12px;
	font-weight: bold;
	padding-left:10px;
	
}

table.menu td.menuLefta
{
	
	font-family :Arial;
	font-size: 12px;
	font-weight: bold;
	color: yellow;
	border-bottom: #024F76 1px solid;
	border-top: #0C87C5 1px solid;
	border-left: #0C87C5 3px solid;
	background-color: #0C87C5;
	height: 25px;
	padding-left:10px;
	cursor:pointer;
	
}

table.menu td div.infor
{
	
	font-family:Arial;
	font-weight:lighter;
	font-size:12px;
	color:White;
	height:25px;
	line-height:25px;
	padding-left:15px;
	
}
.page
{
	
	font-family:Tahoma;
	font-weight:lighter;
	font-size:11px;
	color:Black;
	
}

input.text
{
	
	border : 1px solid #D0D0D0;
	font-family:Tahoma;
	padding-left:5px;
	font-weight:normal;
	font-size:11px;
	color:Black;
	height:18px;
	
}

input.textover
{
	
	border : 1px solid #f60ad2;
	font-family:Tahoma;
	padding-left:5px;
	font-weight:normal;
	font-size:11px;
	color:Black;
	height:18px;
	
}

#headervanthanh .item
{
	font-family:Tahoma;
	font-weight:bold;
	font-size:11px;
	background-color:#d6dfff;
	height:25px;
	padding-left:10px;
	padding-right:10px;
	cursor:pointer;
	color:#215dc6;
	
}

#headervanthanh .infor
{
	padding-top:5px;	
	float:left;
}

#headervanthanh .muc
{
	font-family:Tahoma;
	font-weight:lighter;
	font-size:15px;
	background-color:#eef1f7;
	height:25px;
	padding-left:15px;
	padding-right:10px;
	cursor:pointer;
	color:#215dc6;	
}
#headervanthanh .muc hover
{
	font-family:Tahoma;
	font-weight:lighter;
	font-size:15px;
	background: #000000;
	height:25px;
	padding-left:15px;
	padding-right:10px;
	cursor:pointer;
	color:red;	
}

.footer
{
	
	font-family:Tahoma;
	font-weight:lighter;
	font-size:15px;
	background-color:'whitesmoke';
	padding-left:25px;
	padding-right:10px;
	padding-top:7px;
	cursor:pointer;
	color:Black ;
	
}

.tabactive    
{

	border-top: #FFFFFF 1px solid;	    
	border-right: #000000 1px solid;	    
	border-bottom: #D4D0C8 1px solid;	    
	background-color: #D4D0C8;	    
	text-align: center;    	    
	font-weight: bold; 	    
	cursor: hand;  	    
	height: 22px;	    
	padding: 5px; 
	color : #0a95f6;
	
}

.tabdeactive     
{	    
	
	border: none;
	background-color: #F7F3E9;	    
	text-align: center;	    
	font-weight: normal;     	    
	cursor: hand;	    
	height: 22px;	    
	padding: 5px;
	color:#d6d3d6;    
	
}

.pdl15    
{	    
	
	padding-left: 15px;     
	
}

#user1 .tieude
{
	
	font-family:Tahoma;
	padding-left:5px;
	font-weight:normal;
	font-size:11px;
	color:Black;

}

#user1 .item
{
	
	font-family:Tahoma;
	padding-left:5px;
	font-weight:normal;
	font-size:10px;
	color:Black;
	
}

#user1 .item a.manv
{
	
	font-family:Tahoma;
	padding-left:5px;
	font-weight:normal;
	font-size:11px;
	color:Black;
	text-decoration:none;
	
}

#user1 .item a.manv:hover
{
	
	color:blue;
	text-decoration:none;
	
}

#user1 .item a.extendPhone
{
	
	font-family:Tahoma;
	padding-left:5px;
	font-weight:normal;
	font-size:11px;
	color:Blue;
	text-decoration:none;
	cursor:pointer;
	
}

#user1 input.text
{
	
	border : 1px solid #D0D0D0;
	font-family:Tahoma;
	padding-left:5px;
	font-weight:normal;
	font-size:11px;
	color:Black;

}

#user1 input.textover
{
	
	border : 1px solid #f60ad2;
	font-family:Tahoma;
	padding-left:5px;
	font-weight:normal;
	font-size:11px;
	color:Black;

}

#user1 .header
{
	
	font-family:Tahoma;
	padding-left:5px;
	font-weight:bold;
	font-size:11px;
	color:white;	
	height:20px;
	background:url(../images/header.gif) repeat-x;
}

#user1 .containbutton
{
	padding-top:5px;
	padding-bottom:5px;
}
#user1 .title
{
	
	font-family:Tahoma;
	padding-left:5px;
	font-weight:bold;
	font-size:15px;
	color:#0a95f6;
	
}

#user2 .tieude
{
	
	font-family:Tahoma;
	padding-left:5px;
	font-weight:normal;
	font-size:11px;
	color:Black;

}

#user2 .item
{
	
	font-family:Tahoma;
	padding-left:5px;
	font-weight:normal;
	font-size:8px;
	color:Black;
	
}

#user2 .item a.manv
{
	
	font-family:Tahoma;
	padding-left:5px;
	font-weight:normal;
	font-size:11px;
	color:Black;
	text-decoration:none;
	
}

#user2 .item a.manv:hover
{
	
	color:blue;
	text-decoration:none;
	
}

#user2 .item a.extendPhone
{
	
	font-family:Tahoma;
	padding-left:5px;
	font-weight:normal;
	font-size:11px;
	color:Blue;
	text-decoration:none;
	cursor:pointer;
	
}

#user2 input.text
{
	
	border : 1px solid #D0D0D0;
	font-family:Tahoma;
	padding-left:5px;
	font-weight:normal;
	font-size:11px;
	color:Black;

}

#user2 input.textover
{
	
	border : 1px solid #f60ad2;
	font-family:Tahoma;
	padding-left:5px;
	font-weight:normal;
	font-size:11px;
	color:Black;

}

#user2 .header
{
	
	font-family:Tahoma;
	padding-left:5px;
	font-weight:bold;
	font-size:11px;
	color:white;	
	height:20px;
	background:url(../images/header.gif) repeat-x;
}

#user2 .containbutton
{
	padding-top:5px;
	padding-bottom:5px;
}
#user2 .title
{
	
	font-family:Tahoma;
	padding-left:5px;
	font-weight:bold;
	font-size:15px;
	color:#0a95f6;
	
}

		.hovermenu
        {
            padding:3px 2px 3px 2px;
            font-size:13px;
            color:ButtonText;
            font-weight:normal;
            font-family:Times New Roman;
            z-index:1000;
            
            
        }
        
        .shovermenu
        {
            padding:3px 2px 3px 2px;
            font-size:13px;
            color:ButtonText;
            font-weight:normal;
            font-family:Times New Roman;
            z-index:1000;
            
        }
       
        .sola
        {
            position:fixed;
            top:0;
            margin:0;
            left:0;
            width:100%;
			z-index:1000;

        }
        
