body {
	/*font: normal 11px auto "Times New Roman", Verdana, Arial, Helvetica, sans-serif;
	color: Black;
	background: #E6EAE9;*/
}

a {
	color:Black;
}

#mytable {
	width: 100%;
	padding: 0;
	margin: 0;
	/*padding-top:10%;*/
}
#rowstyle
{
	background: #F5FAFA;
	color: Black;
}
input
{	
	vertical-align:middle;
	width:200px;
	border:none;
	text-align:center;
    background: #ffffff;
}
input.checkbox
{	
	vertical-align:middle;
	width:20px;
	background:#D4D0C8;
}
.input:hover {
    border: 1px solid #f00;
    background: #ff6;
}
.button 
{
	width:100px;
    border: 1px solid #006;
    background: #ffffff;
}
.button:hover {
    border: 1px solid #f00;
    background: #ccf;
}
br { clear: left; }
#itemstyle
{
	border:1px solid #000000; 
	border-left:none; 
	border-bottom:2px width:10px; 
	text-align:center;
	color:Black;
	height:35px;
}
#headerntt {
	padding: 0 0 5px 0;
	width: 700px;	 
	font: italic 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
}
caption {
	padding: 0 0 5px 0;
	width: 700px;	 
	font: italic 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
}

th {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
}

th.nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;
	background: none;
}

tdTruong {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
}


tdTruong.alt {
	background: #F5FAFA;
	color: #797268;
}

th.spec {
	background: #F5FAFA;
	color: #797268;
	text-align: left;
}
.labBN
{
	color:Blue;
	font-weight:bold;
	padding-left:10px;
}
.popup_msg{
  position:absolute;
  z-index:50px;   
  width:250px;
  text-align:center;
  color:#FF0000;
  font: 14px Verdana, Arial, Helvetica, sans-serif;
  display:none;
  margin-left:25%;
}



