 CREATE TABLE [dbo].[KB_NoiDKKCBBH](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MaSo] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TenDonVi] [nvarchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_KB_TinhCapTheBH] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
