<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>QUẢN LÝ BỆNH VIỆN</title>
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <link type="text/css" rel="stylesheet" href="../css/sheet_index.css" />
    <link type="text/css" rel="stylesheet" href="../css/style.css" />

    <script type="text/javascript" src="../../js/libary.js"></script>

    <script type="text/javascript" src="../../js/script.js"></script>

    <script type="text/javascript" src="../../js/myjava.js"></script>

    <script type="text/javascript" src="../../js/AutoComplete.js"></script>

    <link type="text/css" rel="stylesheet" href="../../js/epoch_styles.css" />

    <script type="text/javascript" src="../../js/epoch_classes.js"></script>

    <link type="text/css" rel="stylesheet" href="../css/default.css" />
    <link href="css/Default.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="../../js/jquery-1.6.1.min.js"></script>

    <script type="text/javascript" src="../../js/jquery.autocomplete.js"></script>

    <link type="text/css" rel="stylesheet" href="../css/jquery.autocomplete.css" />
     
    <link href="~/noitru/css/dropdown/dropdown.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="~/noitru/css/dropdown/themes/default/default.css" media="screen" rel="stylesheet" type="text/css" />
    
<style type="text/css">
.IndexTitle
{
    position: absolute;
    top: 5%;
    left: 19%;
    font-weight: bold;
    font-size: large;
    color: blue;
    text-align:center;
    width: 60%;
}
</style>
    <script language="javascript">
	
    //Kiem tra Ngay
	function TestDateClient(t)
	{
		if (t.value != "")
		{
			t.value=AddString(t.value);
			if (isDate(t.value)==false)
				{
					alert("Bạn nhập ngày tháng không hợp lệ ! ");
					t.focus();
				}
		}
		else
		{
		    alert("Bạn chưa nhập ngày tháng. Vui lòng kiểm tra lại! ");
			t.focus();
		}
		return;
	}  
	function TestNum(obj)
	{
		
		if (obj.value!="")
		{				
			if (CheckNumberFloat(obj.value)==false)
			{
				obj.value="0";
				alert("Bạn phải nhập giá trị số! ");
				obj.focus();
				
			}
		}
		else obj.value="0";
	}
	function SetFocus(obj)
	{
	    var obj = document.getElementById(obj);
	    obj.focus();
	}
	
	function LoadDangNhap()
    {
        xmlHttp = GetMSXmlHttp();
        xmlHttp.onreadystatechange = function()
        {
            if(xmlHttp.readyState == 4)
            {
                var value = xmlHttp.responseText;
                if(!document.all) value = eval(value+"");
                if(value == 0)
                {
                   document.location.href = "dangnhap.aspx";
                }                
            }
        }
        xmlHttp.open("GET","ajax.aspx?do=resetsesion&times="+Math.random(),true);
        xmlHttp.send(null);
    }
    
    function Thoat()
    {
        window.close();
    }
    
    </script>

</head>
<body onmousemove="overScreen()" style="background-color: #D4D0C8">
    <div align="center">
        <div id="divParent">
        </div>
        <table cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                        <tr>
                            <!--<td width = "100%" align = "left"  style ="height:25px; background-color: #E7E4DF"><span class = "Tieude"><%= StaticData.TenCty %> ,Người dùng: <%= SysParameter.UserLogin.FullName(this) %> <span onclick = "Thoat()" style="cursor:pointer">[Thoát]</span></td>-->
                        </tr>
                    </table>
                    